.App {
  text-align: center;
  animation: fadeInAnimation ease 5s;
  animation-fill-mode: forwards; 
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fbe3c0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 
